/build/
/dist/
Thumbs.db
nbproject/build-native.xml~
javadoc.zip

/javadoc/
/.jacocoverage/
/build
/target/
/out/
/**/.sonar/
**.jacocoverage/
**/*.iml
*.iml
*.versionsBackup
*.log
*.tlog
/.idea/




