/build/
/dist/
Thumbs.db
nbproject/build-native.xml~
javadoc.zip

/javadoc/
/.jacocoverage/
/build
/target/
**/target/
/out/
/**/.sonar/
**.jacocoverage/
**/*.iml
*.iml
*.versionsBackup
*.log
*.tlog
/.idea/


**/pom.properties
pom.properties
dependency-reduced-pom.xml
**/dependency-reduced-pom.xml


